.navbar {
    width: '100%';
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navitem {
    margin-right: 50px;
}

.page {
    height: calc(100vh - 75px);
    width: '100%';
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
}

.banner {
    width: '100%';
    margin-top: 68px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FFA500;
    color: #fff;
    font-size: 23px;
    font-weight: 500;
}

.container {
    max-width: 600px;
    text-align: center;
}

.postcard {
    width: '100%';
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: darkgray;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.likebutton {
    color: red;
    background-color: transparent;
    font-size: 50px;
    border-color: transparent;
    cursor: pointer;
}